bin/*

.fake
.ionide
.ionide/**
*/**/.ionide
*/**/.ionide/**
.github/workflows/*
.idea
**/obj/*
packages
**/**/GenericTextOnly*.ok
**/bin/*
**/obj/*
**/**/*.~
*/*.~
.idea/**
.gitignore~
..gitignore.un~
.*~
*/**/*~
*/**/GenericTextOnly*.txt
.vscode/**
 

